.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: white;
    margin-bottom: 30px;
  }

.item {
    background-color: #ffffff;
  }
  
  .photothumb{
    width: 100%;
  }
  
  .title {
    padding: 20px;
   }
  
  .title h3{
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
  }
  
  .project .title{
    background-color: #607D8B;
  }
  
  .blog .title{
    background-color: #ff9800;
  }
  
  .photo .title{
    background-color: #f44336;
  }
  
  .desc{
    padding: 10px 10px 5px 10px;
  }
  
  .desc img{
    width: 50%;
    margin: 0 10px 10px 0;
    float: left;
  }
  
  .desc p{
    margin-bottom: 10px;
  }